{% extends "vehicles/base.html" %}

{% block APPTITLE-MOB %}

{% endblock %}
{% block APPTITLE %}
    Benzin
{% endblock %}

{% block NAV-TYPE-MOB %}
    {% block NAV-TYPE %}
        <form action="" method="post">{% csrf_token %}
            <div class="grid-x grid-margin-x">
                <div class="cell auto"></div>
                <div class="cell shrink">
                    <ul class="dropdown menu" data-dropdown-menu>
                        <li>
                            <a href="#" class="{% if bt_type == 'A' %}konto-type--col{% endif %}">{{ vt_label }}</a>
                            {% if vt_list %}
                                <ul class="menu">
                                    {% for vt in vt_list %}
                                        <li class="dropdowns {% if vt.aktiv %}active{% endif %} v-type__{{ vt.type }}">
                                            <a class="dropdown-sel" href="{% url 'vehicles:settype' vt.id %}" data-set-budget-typ="{{ vt.id }}">{{ vt.label }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    {% endblock %}
{% endblock %}

{% block content %}
    <div class="grid-x grid-margin-y">
        <div class="cell xsmall-12">{% now "l, j. F Y" %}</div>
        <div class="cell">

            <form action="" method="post">{% csrf_token %}
                <div class="grid-x grid-margin-x">
                    <div class="cell small-4">
                        <label for="km-label" class="text-right middle">Stand</label>
                    </div>
                    <div class="cell auto">
                        <input type="number" name="amount-km" value="" id="km-label" placeholder="Stand km" required>
                    </div>
                    <div class="cell auto">
                        <label class="text-left middle">km</label>
                    </div>
                </div>

                <div class="grid-x grid-margin-x">
                    <div class="cell small-4">
                        <label for="chf-label" class="text-right middle">Betrag</label>
                    </div>
                    <div class="cell auto">
                        <input type="number" step="0.01" name="amount-chf" value="" id="chf-label" placeholder="Betrag" required>
                    </div>
                    <div class="cell auto">
                        <label class="text-left middle">CHF</label>
                    </div>
                </div>
                <div class="grid-x grid-margin-x">
                    <div class="cell small-4">
                        <label for="ltr-label" class="text-right middle">Liter</label>
                    </div>
                    <div class="cell auto">
                        <input type="number" step="0.01" name="amount-ltr" value="" id="ltr-label" placeholder="Liter" required>
                    </div>
                    <div class="cell auto">
                        <label class="text-left middle">ltr.</label>
                    </div>
                </div>
                <button type="submit" class="button success" value="save">SAVE</button>
            </form>
        </div>
    </div>
    {% if MSG %}
        <div class="grid-x">
            <div class="cell text-center">
                {% if MSG.ERROR %}
                    <span class="callout alert">{{ MSG.ERROR }}</span>
                {% else %}
                    <span class="label success">{{ MSG.SUCCESS }}</span>
                {% endif %}
            </div>
        </div>
    {% endif %}

    {% if last %}
        {% if MSG.ERROR %}
            <div></div>
        {% else %}
            <div class="callout {% if MSG %}success{% else %}secondary{% endif %}" style="font-size: smaller;">
                <div class="grid-x grid-margin-x">
                    <div class="cell small-6 text-right">letzes mal getankt am:</div>
                    <div class="cell auto text-left "><b>{{ last.last_date | date:"D d. F Y" }}</b></div>
                </div>
                <div class="grid-x grid-margin-x">
                    <div class="cell small-6 text-right">letzer KM-Stand:</div>
                    <div class="cell auto text-left"><b>{{ last.last_km }}</b> KM</div>
                </div>
                <div class="grid-x grid-margin-x">
                    <div class="cell small-6 text-right">letzer Ø:</div>
                    <div class="cell auto text-left"><b>{{ last.last_average |stringformat:".2f" }} </b>ltr.</div>
                </div>
            </div>
        {% endif %}
    {% endif %}
    <hr>
    <div class="cell text-center">
        {% load static %}
        {% if Q_V_Pos %}
            <table class="">
                <thead>
                    <tr>
                        <th class="text-left">Datum</th>
                        <th class="text-left">KM</th>
                        <th class="text-right">CHF</th>
                        <th class="text-right">Ltr.</th>
                        <th class="text-right">Ø</th>
                        <th class=""></th>
                    </tr>
                </thead>
                <tbody>
                {% for pos in Q_V_Pos %}
                    <tr>
                        <td class="text-left" style="white-space: nowrap;">
                            <a href=" url 'vehicles:updvehiclepos' pos.pos " data-update-pos={{ pos.pos }}>
                                {{ pos.booked | date:"D d. M" }}
                            </a>
                        </td>
                        <td class="text-left">{{ pos.km }}</td>
                        <td class="text-right">{{ pos.amount |stringformat:".2f" }}.-</td>
                        <td class="text-right">{{ pos.liter |floatformat:"-2" }}</td>
                        <td class="text-right">{{ pos.average |floatformat:"-2" }}</td>
                        <td class="">
                            <a href="{% url 'vehicles:delvehiclepos' pos.pos %}"><img width="24" src="{% static 'img/del.png' %}"></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="callout warning">
                Keine Budget-Positionen vorhanden
            </div>
        {% endif %}
    </div>

{% endblock %}